/* ================== NAVIGATION ================== */

/* Add a black background color to the top navigation */
.navigation {
    overflow: hidden;
    border-bottom: 2px solid #000;
    line-height: 5rem;
}

/* Style the links inside the navigation bar */
.navigation a{
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 0 0.5rem 0 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.25rem;
}
.navigation a i{
    padding: 0 0 0 0.25rem;
}

.logo{
    padding-left: 0.5rem;
}

.logo a {
    float: left;
    vertical-align: middle;
}

.logo i {
    font-size: 2rem;
    vertical-align: middle;
}

/* Hide the link that should open and close the navigation
on small screens */
.navigation .icon {
    display: none;
    font-size: 2rem;
    margin-right: 0.5em;
}

/* ================== CATEGORIES ================== */

/* Scrollable categories sideways, code snippet was taken from:
https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6
and amended to project needs */

/* Categories scrolling */
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* Code taken from:
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* Scrollbar Width */
.categories-list::-webkit-scrollbar {
    height: 10px;
}

/* Scrollbar Track */
.categories-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Scrollbar Handle */
.categories-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Categories general styles */
.categories-list {
    padding: 0;
    margin: 0;
}

.categories-list a {
    text-decoration: none;
    color: #000;
}

.categories-card {
    flex: 0 0 auto;
    margin: 1rem;
    text-align: center;
}

.categories-card button {
    padding: 0;
    border: none;
    background: none;
}

.categories-card img {
    height: 64px;
    border-radius: 50%;
}

.categories-card input {
    display: none;
}

/* ================== SEARCH ================== */
.search-section{
    width: 20rem;
    margin: auto;
}

.search{
    margin: 2rem 0;
    border: 1px solid #000;
    border-radius: 25px;
}
.search form{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
}
.search input,
.search button{
    background: none;
    border: none;
    outline: none;
    cursor: auto;
    vertical-align: middle;
    padding: 0 1rem;
    font-size: 1.2rem;
}
.search input{
    flex-grow:2
}

/*
Removing autofill color, found code snippet here:
https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
*/
.search input:-webkit-autofill,
.search input:-webkit-autofill:hover,
.search input:-webkit-autofill:focus,
.search input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.search button{
    cursor: pointer;
    border-radius: 50%;
}



/* ================== MOBILE VIEW ================== */
/* ================== MOBILE VIEW ================== */
/* ================== MOBILE VIEW ================== */

@media screen and (max-width: 600px) {

    .navigation a:not(:first-child) {
        display: none;
    }

    .navigation a.icon {
        float: right;
        display: block;
    }

    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navigation.responsive {
        float: none;
    }

    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive .nav-item {
        display: block;
        width: 100%;
        text-align: center;
    }

}