
/* BUTTONS */
/* Remove outline from buttons */
button:focus,
.navbar-toggler:focus,
.btn:focus {
    box-shadow: none;
}

/* LOGO */
.logo i{
    vertical-align: middle;
}

/* NAVBAR */
.navbar i{
    font-size: 1.5rem;
}

/* MEDIA QUERIES - MOBILE VERSION */
@media (max-width: 575px) {
    /* 
    Navbar to slide from right on top of content
    CSS Code was taken from:
    https://silvawebdesigns.com/bootstrap-4-mobile-nav-bar-slide-from-left-right/
    and the amended to won needs
    */
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        height: 100vh;
        transition: all 0.3s ease;
        display: block;
        background-color: rgb(241, 161, 161);
    }
    .navbar-collapse.collapsing {
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
    /* Mobile navigation menu styling */
    .mobile-nav-menu {
        margin-top: 0.5rem;
        position: relative;
        height: 77.5%;
    }

    .mobile-nav-menu ul li{
        font-size: 1.75rem;
        font-weight: bold;
        margin: 0.5rem 0;
        text-align: center;
    }

    .mobile-menu-soc-med-icons i{
        font-size: 2.5rem;
        margin: 0 1rem;
    }

    .nav-link-list{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        padding: 0;
    }
    .mobile-nav-menu a,
    .mobile-nav-menu i{
        color: 	#2F4F4F;
    }
    .mobile-nav-menu ul li{
        list-style: none;
    }

}