@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100;1,200;1,300&family=Lato:wght@100;300&display=swap');
:root {
    --Lato: 'Lato', sans-serif;
    --Josefin: 'Josefin Sans', sans-serif;
    --shadow: 1.5px 2px 0 0 #D8D7D5;
    --hover: #FFF;
    --border-color: 1px solid #D8D7D5;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* ================== NAVIGATION ================== */
.navigation {
    overflow: hidden;
    border-bottom: var(--border-color);
    border-width: 2px;
    line-height: 5rem;
}

.navigation a{
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 0 0.5rem 0 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: var(--Lato);
    font-weight: 300;
    text-transform: uppercase;

}
.navigation a i{
    padding: 0 0 0 0.25rem;
}

.logo{
    padding-left: 0.5rem;
}

.logo a {
    float: left;
    vertical-align: middle;
}

.logo i {
    font-size: 2rem;
    vertical-align: middle;
}

/*
    Hide the link that should open and close the navigation
    on small screens
*/
.navigation .icon {
    display: none;
    font-size: 2rem;
    margin-right: 0.5em;
}

/* ================== CATEGORIES ================== */
/* 
    Scrollable categories sideways, code snippet was taken from:
    https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6
    and amended to project needs 
*/

/* Categories scrolling */
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* 
    Code taken from:
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/

/* Scrollbar Width */
.categories-list::-webkit-scrollbar {
    height: 10px;
}

/* Scrollbar Track */
.categories-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Scrollbar Handle */
.categories-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Categories general styles */
.categories-section{
    width: 75%;
    margin: 0 auto;
}
.categories button{
    cursor: pointer;
}

.categories-list {
    padding: 0;
    margin: 0 auto;
}

.categories-list a {
    text-decoration: none;
    color: #000;
}

.categories-card {
    flex: 0 0 auto;
    margin: 1rem;
    text-align: center;
}

.categories-card button {
    padding: 0;
    border: none;
    background: none;
    font-family: var(--Lato);
    font-size: 1.25rem;
}

.categories-card img {
    height: 64px;
}

.categories-card input {
    display: none;
}

/* ================== SEARCH ================== */
.search-section{
    width: 20rem;
    margin: 0 auto;
}
.search{
    margin: 1.25rem 0 .75rem 0;
    border-radius: 25px;
    box-shadow: var(--shadow);
    border: var(--border-color);
}
.search form{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
}
.search input,
.search button{
    background: none;
    border: none;
    outline: none;
    cursor: auto;
    vertical-align: middle;
    padding: 0 1rem;
    font-size: 1.2rem;
}
.search input{
    flex-grow: 2;
    font-family: var(--Lato)
}

.search button{
    cursor: pointer;
    border-radius: 50%;
}

/*
    Removing autofill color, found code snippet here:
    https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
*/
.search input:-webkit-autofill,
.search input:-webkit-autofill:hover,
.search input:-webkit-autofill:focus,
.search input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* ================== MAIN CONTAINER ================== */
.main-container{
    width: 70%;
    margin: 0 auto;
    flex: 1 0 auto;
}

.main-container .title{
    font-family: var(--Lato);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.25rem;
    margin: .5rem 0 1rem 0;
}

.main-container .subtitle{
    font-family: var(--Josefin);
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 .75rem 0;
}

.main-container .subtitle a{
    color: #000;

}

/* ================== FOOTER ================== */

/*
    Took idea of sticky footer here:
    https://css-tricks.com/couple-takes-sticky-footer/
*/
.footer{
    margin-top: 2rem;
    line-height: 4rem;
    flex-shrink: 0;
    border-top: var(--border-color);
    border-width: 2px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #000;
}

.footer i{
    font-size: 2rem;
    margin: 1rem .75rem;
    vertical-align: middle;
}

/* ================== RECIPE CARDS ================== */
#recipes_home,
#get_recipes{
    margin: 0;
    padding: 0;
}

.recipe-card{
    margin: 1.5rem 0;
    box-shadow: var(--shadow);
    border: var(--border-color);
    border-radius: 15px;
    padding: 1rem;
    list-style: none;
}

.card-head{
    display: flex;
    align-items: center;
    border-bottom: var(--border-color);
}

.recipe-name h4,
.recipe-category p{
    margin: 0 0 .75rem 0;
}

.recipe-name,
.recipe-category{
    margin: 0;
    vertical-align: middle;
}

.recipe-name h4{
    font-size: 1.75rem;
    font-family: var(--Lato);
}

.recipe-category img{
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.card-body h5{
    font-family: var(--Lato);
    font-size: 1.25rem;
    margin: .75rem 0;
}

.recipe-description p{
    font-family: var(--Josefin);
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: var(--border-color);
}

/* 
Code idea was taken from here:
https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/
*/
.ingr-cooktime > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}


.ingredients-list ul,
.cooking-time ul{
    margin: 0;
    padding: 0;
}

.ingredients-list li,
.cooking-time li{
    list-style: none;
    font-family: var(--Lato);
    font-size: 1.25rem;
}

.cooking-time{
    text-align: end;
}

.card-footer{
    display: flex;
    line-height: 2rem;
    border-top: var(--border-color);
    padding-top: .75rem;
}

.card-footer > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.card-footer li {
    width: 100%;
}

.recipe-footer{
    font-family: var(--Lato);
    width: 50%;
    vertical-align: middle;
}

.recipe-crud-btns{
    width: 50%;
    text-align: end;
    vertical-align: middle;
}
.recipe-crud-btns a{
    text-decoration: none;
    font-weight: 300;
    color: #000;
}
.edit-btn,
.delete-btn{
    border: var(--border-color);
    border-radius: 15px;
    font-family: var(--Lato);
    padding: .5rem 1rem;
}

.edit-btn:hover,
.delete-btn:hover{
    color: var(--hover);
    
}

.delete-btn{
    background-color: #FFB7B2;
}

/* ================== ADD RECIPE ================== */
.input{
    border-radius: 25px;
    box-shadow: var(--shadow);
    border: var(--border-color);
    outline: none;
}

.name-category-section,
.add-cooking-time,
.add-ingredients-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.add-recipe-name,
.add-recipe-category,
.add-recipe-serves,
.add-prep-time,
.add-cook-time,
.add-total-time,
.add-ingredient-name,
.add-ingredient-qty,
.add-ingredient-unit,
.remove-ingredient-button{
    margin: 0;
    padding: 0;
}


.name-category-section label,
.add-cooking-time label,
.add-ingredients-section label{
    margin: 5px 0;
}

.add-recipe-name input,
.add-recipe-category input,
.add-recipe-serves input,
.add-prep-time input,
.add-cook-time input,
.add-total-time input,
.add-ingredient-name input,
.add-ingredient-qty input,
.add-ingredient-unit input{
    margin: 5px 0;
    padding: 0.5rem 1rem;
    vertical-align: middle;
}


.add-ingredients-section button{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: 0.32rem 0;
    padding: 0;
}

/* ================== MOBILE VIEW ==================  MOBILE VIEW ================== */
/* ================== MOBILE VIEW ==================  MOBILE VIEW ================== */




@media screen and (max-width: 1215px) {
    /* ================== ADD RECIPE ================== */
    .add-recipe-name,
    .add-recipe-category,
    .add-recipe-serves,
    .add-prep-time,
    .add-cook-time,
    .add-total-time,
    .add-ingredient-name,
    .add-ingredient-qty,
    .add-ingredient-unit,
    .remove-ingredient-button{
        display: grid;
        width: 49%;
        justify-content: stretch;
    }

    .name-category-section input,
    .add-cooking-time input,
    .add-ingredients-section input{
        margin: 0;
        padding: 0.5rem 1rem;
    }
    .remove-ingredient-button{
        margin: 0;
        padding: 0;
    }
    #remButton{
        align-items: start;
        margin-top: 1.9rem;
        margin-bottom: -1rem;
    }        
}

@media screen and (max-width: 800px) {
    /* ================== NAVIGATION ================== */
    .navigation a:not(:first-child) {
        display: none;
    }

    .navigation a.icon {
        float: right;
        display: block;
    }

    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navigation.responsive {
        float: none;
    }

    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive .nav-item {
        display: block;
        width: 100%;
        text-align: center;
    }

    /* ================== CATEGORIES LIST ================== */

    .categories-list::-webkit-scrollbar,
    .categories-list::-webkit-scrollbar-track,
    .categories-list::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    /* ================== MAIN CONTAINER ================== */
    .main-container{
        width: 95%;
    }

    .categories-section{
        width: 100%;
    }

    .search{
        margin-top: 0;

    }
    /* ================== RECIPE CARDS ================== */
    .cooking-time{
        text-align: start;
    }

    .cooking-time h5{
        margin: 0;
    }

    .recipe-footer,
    .recipe-crud-btns{
        width: 100%;
        margin: .5rem 0;
    }
    .delete-btn{
        margin-right: .75rem;
    }

}

@media screen and (max-width: 600px) {

    /* ================== ADD RECIPE ================== */
    .name-category-section,
    .add-cooking-time,
    .add-ingredients-section{
        flex-direction: column;
        align-items: stretch;
    }

    .add-recipe-name,
    .add-recipe-category,
    .add-recipe-serves,
    .add-prep-time,
    .add-cook-time,
    .add-total-time,
    .add-ingredient-name,
    .add-ingredient-qty,
    .add-ingredient-unit,
    .remove-ingredient-button{
        width: 100%;
    }

    .remove-ingredient-button{
        justify-content: end;
    }
    #remButton{
        margin: .75rem 0 0 0;
    }        

}
