{% extends "base.html" %}
{% block content %}

    <div class="mx-auto">
        <h3 class="">
            Create New Recipe
        </h3>
    </div>

    <div class="card">
        <section class="ms-3 me-3 mt-3">
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
    
        <form class="" name="add_recipe" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- recipe name -->
            <div class="card-body">
                <div class="mb-3">
                    <label for="recipe_name" class="form-label">Recipe name: </label>
                    <div class="form-input">
                        <input class="form-control" id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="50">
                    </div>
                </div>

                <!-- choose category -->
                <form class="">
                    <label for="categList">
                        Choose Category: 
                    </label>
                    <select id="categList">
                        {% for category in categories %}
                        <option class="category-in-dlist" value="{{ category.category_name }}">
                            {{ category.category_name }}
                        </option>    
                        {% endfor %}
                    </select>
                </form>
                <!-- choose ingredients -->
                
                    <div class="choose-ingredients overflow-auto">
                        <!-- Search ingredients in real time -->
                        <form action="">
                            <input class="" type="text" id="searchInput" onkeyup="searchIngredients()" placeholder="Search">
                            <div id="ingredientsUL" >
                                {% for ingredient in ingredients %}
                                    <li id="ingrItem">
                                        <a href="#" id="ingr" value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</a>
                                        <span class="btn" id="myButton">+</span>
                                    </li>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                    <div class="newList">
                        <ul id="">

                        </ul>
                    </div>

                

                <!-- enter description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <div class="form-input">
                        <input class="form-control" id="description" name="description" type="text" minlength="5" maxlength="50">
                    </div>
                </div>

            <!-- add recipe button -->
            <div class="card-footer text-center">
                <button class="btn btn-success" type="submit" >
                    Add Recipe
                </button>
            </div>
        </form>
    </div>




{% endblock %}