{% extends "base.html" %}
{% block content %}

<h3 class="title">Admin Access</h3>


<p class="subtitle">Users List</p>
<div class="auth-card">

{% if users|length > 0 %}
    {% for user in users %}
        <p>{{ user.username }}
        <a href="{{ url_for('edit_user', user_id=user._id) }}" >Edit</a>
        <a href="{{ url_for('delete_user', user_id=user._id) }}" >Delete</a>
        </p>
    {% endfor %}
{% else %}
    <h3 class="title">
        No Users Found
    </h3>
{% endif %}
</div>


{% endblock %}
