{% extends "base.html" %}
{% block content %}

<h3 class="title">Contact us!</h3>

<div class="contact-card">
    
    <form name="contactForm" id="contactForm" onsubmit="return sendMail(this); this.reset();">
        <div class="row">
            <div class="col-50">
                <!-- Contact name field -->
                <label for="contact_name">Name</label>
                <input id="contact_name" name="contact_name" type="text" minlength="2" maxlength="25" required>
            </div>    
            <div class="col-50">
                <!-- Contact email field -->
                <label for="contact_email">Email</label>
                <input id="contact_email" name="contact_email" type="email" required>
            </div>    
        </div>
        <div class="row">
            <div class="col-full">
                <!-- Contact Message -->
                <label for="contact_request">Message</label>
                <textarea name="contact_request" id="contact_request" rows="7"></textarea>
            </div>
        </div>
        <button type="submit" class="button" id="contactSend">
            Send
        </button>
    </form>

{% endblock %}
