{% extends "base.html" %}
{% block content %}

<h3 class="title">Edit Recipe</h3>

<div class="add-recipe-card" id="add_recipe">
    <form id="add_recipe_form" name="add_recipe" method="POST"
        action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="row">
            <div class="col-50">
                <!-- Recipe name input -->
                <label for="recipe_name">Recipe name: </label>
                <input name="recipe_name" id="recipe_name" type="text" minlength="5" maxlength="50"
                    value="{{ recipe.recipe_name }}" required>
                <!-- Recipe category input -->
                <label for="category_name">Category:</label>
                <input name="category_name" id="category_name" list="category_list" type="text"
                    value="{{ recipe.category_name }}" required>

                <!-- Loop through categories, to help select when typing in a category -->
                <datalist id="category_list">
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </datalist>
                {% for i in recipe.cooking_time %}

                <label for="serves">Serves:</label>
                <input name="serves" id="serves" type="text" maxlength="2" value="{{ i.serves }}" required>
            </div>
            <div class="col-50 add-cook-time">
                <!-- Add prep and cooking times -->
                <label for="prep_time">Prep Time:</label>
                <input name="prep_time" id="prep_time" type="text" maxlength="2" value="{{ i.prep_time }}" required>
                <label for="cook_time">Cooking Time:</label>
                <input name="cook_time" id="cook_time" type="text" maxlength="2" value="{{ i.cook_time }}" required>
                <label for="total_time">Total:</label>
                <input name="total_time" id="total_time" type="text" maxlength="2" value="{{ i.total_time }}" required>
                {% endfor %}
            </div>
        </div>
        <!-- Recipe Description textarea -->
        <div class="row">
            <div class="col-full">
                <label for="description">Description:</label>
                <textarea id="recipe_description" name="recipe_description" type="text" minlength="5" maxlength="2500"
                    rows="10" required>{{ recipe.recipe_description }}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-full">
                <label for="imageURL">Image URL:</label>
                <input type="url" id="imageURL" name="recipe_img" value="{{ recipe.recipe_img }}" required>
            </div>
        </div>
        <div id="ingredient_item">
            <!-- Add ingredient item -->
            {% for i in recipe.ingredients %}
            <div class="row" id="ingredient_item" name="ingredient_item">
                <!-- Add Ingredient name -->
                <div class="col-50">
                    <label for="ingredient_name">Ingredient:</label>
                    <input name="ingredient_name" id="ingredient_name" list="ingredients_list" type="text"
                        value="{{ i.ingredient_name }}" required>
                    <datalist id="ingredients_list">
                        {% for ingredient in ingredients %}
                        <option">{{ ingredient.ingredient_name }}</option>
                            {% endfor %}
                    </datalist>
                </div>
                <!-- Add ingredient quantity -->
                <div class="col-50 ing-units">
                    <div class="col-40 ">
                        <label for="ingredient_qty">Quantity:</label>
                        <select name="ingredient_qty" id="ingredient_qty" required>
                            <option value="¼" {% if (i.ingredient_qty == '¼')%}selected{% endif %}>¼</option>
                            <option value="½" {% if (i.ingredient_qty == '½')%}selected{% endif %}>½</option>
                            <option value="¾" {% if (i.ingredient_qty == '¾')%}selected{% endif %}>¾</option>
                            <option value="1" {% if (i.ingredient_qty == '1')%}selected{% endif %}>1</option>
                            <option value="2" {% if (i.ingredient_qty == '2')%}selected{% endif %}>2</option>
                            <option value="3" {% if (i.ingredient_qty == '3')%}selected{% endif %}>3</option>
                            <option value="4" {% if (i.ingredient_qty == '4')%}selected{% endif %}>4</option>
                            <option value="5" {% if (i.ingredient_qty == '5')%}selected{% endif %}>5</option>
                            <option value="6" {% if (i.ingredient_qty == '6')%}selected{% endif %}>6</option>
                            <option value="7" {% if (i.ingredient_qty == '7')%}selected{% endif %}>7</option>
                            <option value="8" {% if (i.ingredient_qty == '8')%}selected{% endif %}>8</option>
                            <option value="9" {% if (i.ingredient_qty == '9')%}selected{% endif %}>9</option>
                            <option value="10" {% if (i.ingredient_qty == '10')%}selected{% endif %}>10</option>
                        </select>
                    </div>
                    <!-- Add ingredient unit -->
                    <div class="col-40">
                        <label for="ingredient_unit">Unit:</label>
                        <input name="ingredient_unit" id="ingredient_unit" type="text" value="{{ i.ingredient_unit }}">
                    </div>
                    <!-- Remove ingredient line button -->
                    <div class="col-10">
                        <label class="no-text" for="remButton">a</label>
                        <button class="delete-itm-btn" id="remButton" onclick="remove(this);">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row form-buttons">
            <div class="col-full">
                <button class="button add-itm-btn-edit" id="editIngredient">Add Ingredient</button>
            </div>
        </div>


        <!-- Edit Recipe Button -->
        <div class="row form-buttons">
            <div class="col-full">
                <button class="button delete-recipe-btn" onclick="goBack()">Cancel</button>
                <button class="button create-button" type="submit">Update Recipe</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}