{% extends "base.html" %}
{% block content %}
<div class="mt-3 categories-list scrolling-wrapper-flexbox" id="categoriesList">
    <!-- Looping through categories in MongoDB and showing all. Plus fetching
        images from static\img folder and combining them together in a block 
        when clicked - shows search results with that name-->
    {% for category in categories|sort(attribute='category_name') %}
    <form class="noselect categories" action="{{ url_for('search') }}" method="POST">
        <div class="categories-card" value="{{ category.category_name }}">
            <button class="category-item" type="submit">
                <img src="static\img\{{ category.category_name.lower() }}.png" alt="category">
                <input value="{{ category.category_name }}" type="text" name="recipe_search" id="categoty_search"
                    type="text">{{ category.category_name }}</input>
            </button>
        </div>
    </form>
    {% endfor %}
</div>

<div>
    <h3 class="title">Welcome to recipehere!</h3>
    <p class="subtitle">Find and share best recipes!</p>
</div>

<ul id="recipes_home">
    {% for recipe in recipes %}
    <li class="recipe-card">
        <!-- Recipe card header -->
        <div class="card-head">
            <!-- Show recipe name -->
            <div class="recipe-name">
                <h4> {{ recipe.recipe_name }}</h4>
            </div>
            <!-- Show recipe category -->
            <div class="recipe-category">
                <img src="static\img\{{ recipe.category_name.lower() }}.png" alt="category">
            </div>
        </div>
        <!-- Show recipe description -->
        <div class="card-body">
            <h5>Description:</h5>
            <div class="recipe-description">
                <p> {{ recipe.recipe_description }}</p>
            </div>

            <!-- List recipes ingredients -->
            <div class="ingr-cooktime">
                <ul>
                    <li class="ingredients-list">
                        <h5>Ingredients List:</h5>
                        <ul>
                            {% for i in recipe.ingredients %}
                            <li>
                                <p>{{ i.ingredient_qty }} {{ i.ingredient_unit }} of {{ i.ingredient_name }}</p>
                            </li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="cooking-time">
                        <h5>Cooking times:</h5>
                        <ul>
                            <li>
                                <p>Prep time: 5mins</p>
                            </li>
                            <li>
                                <p>Cook time: 10mins</p>
                            </li>
                            <li>
                                <p>Total: 15mins</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <!-- Creation date and user -->
            <ul>
                <li class="recipe-footer">
                    <span>Created on {{ recipe.creation_date.strftime('%B %d, %Y') }} by
                        <em>{{ recipe.created_by }}</em>
                    </span>
                </li>
                <!-- If logged in, show Delete and Edit options -->
                {% if session.user|lower == recipe.created_by|lower %}
                <li class="recipe-crud-btns">
                    <a class="edit-btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a>
                    <a class="delete-btn" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}