{% extends "base.html" %}
{% block content %}
<section class="categories-section">
    <div class="categories-list scrolling-wrapper-flexbox" id="categoriesList">
        <!-- Looping through categories in MongoDB and showing all. Plus fetching
            images from static\img folder and combining them together in a block 
            when clicked - shows search results with that name-->
        {% for category in categories|sort(attribute='category_name') %}
        <form class="noselect categories" action="{{ url_for('search') }}" method="POST">
            <div class="categories-card" value="{{ category.category_name }}">
                <button class="category-item" type="submit">
                    <img src="..\static\img\{{ category.category_name.lower() }}.png" alt="recipe-category">
                    <input value="{{ category.category_name }}" type="text" name="recipe_search" id="categoty_search"
                        type="text">{{ category.category_name }}</input>
                </button>
            </div>
        </form>
        {% endfor %}
    </div>
</section>



<div>
    <h3 class="title">Welcome to recipehere!</h3>
    <p class="subtitle">LOOK! We found a great recipe for you to try! Or <a href="#" id="randomRecipe">try you'r luck</a> and see if theres a better one!</p>
</div>

<ul id="recipes_home">
    {% for recipe in recipes %}
    <li class="recipe-card">
        <!-- Recipe card header -->
        <div class="card-head">
            <div>
                <img class="recipe-hero-img" src="{{ recipe.recipe_img }}" alt="recipe-hero-image">
            </div>
            <!-- Show recipe category -->
            <div class="recipe-sub-head">
                <div class="recipe-category">
                    <span class="category-image-helper"></span>
                    <img src="static\img\{{ recipe.category_name.lower() }}.png" alt="category">
                </div>

                <!-- Show recipe name -->
                <div class="recipe-name">
                    <h4> {{ recipe.recipe_name }}</h4>
                </div>
            </div>
        </div>
        <!-- Show recipe description -->
        <div class="card-body">
            <h5>Description:</h5>
            <div class="recipe-description">
                <p> {{ recipe.recipe_description }}</p>
            </div>

            <!-- List recipes ingredients -->
            <div class="ingr-cooktime">
                <ul>
                    <li class="ingredients-list">
                        <h5>Ingredients List:</h5>
                        <ul>
                            {% for i in recipe.ingredients %}
                            <li>
                                <p>{{ i.ingredient_qty }} {{ i.ingredient_unit }} of {{ i.ingredient_name|lower }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% for i in recipe.cooking_time %}
                    <li class="cooking-time">
                        <h5>Additional information:</h5>
                        <p>Preparation takes {{ i.prep_time }} minutes and cooking  
                        {{ i.cook_time }} minutes more. Totally it will take you {{ i.total_time }} 
                        minutes and will make {{ i.serves }} servings.</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <!-- Creation date and user -->
            <ul>
                <li class="recipe-footer">
                    <span>Created on {{ recipe.creation_date.strftime('%B %d, %Y') }} by
                        <em>{{ recipe.created_by }}</em>
                    </span>
                </li>
                <!-- If logged in, show Delete and Edit options -->
                {% if session.user|lower == recipe.created_by|lower %}
                <li class="recipe-crud-btns">
                    <a class="button create-button" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a>
                    <a class="button delete-recipe-btn" id="delete-btn" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
