{% extends "base.html" %}
{% block content %}

    <div class="mt-5">
        <h3 class="text-center">
            {{ username.capitalize() }}'s Recipes
        </h3>
    </div>

    <div class="row d-flex justify-content-center">
        {% if recipes %}
        {% for recipe in recipes %}
                <div class="col-md-8 col-sm-12 ms-3 me-3 p-0 ">
                    <div class="card mt-5 drop-shadow recipe-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <h5> {{ recipe.recipe_name }}</h5>
                                </div>
                                <div class="col-md-4 col-sm-12 d-flex justify-content-md-end">
                                    <p>Category: {{ recipe.category_name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <h5 class="mb-3">Description:</h5>
                                <div class="background smooth-edges p-2 mt-2 mb-2">
                                    <p> {{ recipe.recipe_description }}</p>
                                </div>
                            </div>
                            <h5>Ingredients List:</h5>
                            <table class="ingredients-table smooth-edges">
                                <thead>
                                    <tr>
                                        <th>Nr</th>
                                        <th>Ingredient</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                {% for i in recipe.ingredients %}
                                <tbody>
                                    <tr>
                                        <td><i class="fas fa-cookie-bite"></i></td>
                                        <td>{{ i.ingredient_name }}</td>
                                        <td>{{ i.ingredient_qty }}</td>
                                        <td>{{ i.ingredient_unit }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-8">
                                    <span>Created on {{ recipe.creation_date.strftime('%B %d, %Y') }} by
                                        <em>{{ recipe.created_by }}</em></span>
                                </div>
                                <div class="col-md-4 text-end">
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="row mt-5">
                <div class="col text-center">
                    <h4>You have no recipes yet... </h4>
                    <a href="{{ url_for('add_recipe') }}">Create one now!</a>
                </div>
            </div>
            {% endif %}
        
    </div>
{% endblock %}