{% extends "base.html" %}
{% block content %}

<div class="">
    <form class="" method="POST" action="{{ url_for('register') }}">
        <div class="">
            <!-- username field -->
            <div class="">
                <div class="">
                    <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password field -->
            <div class="">
                <div class="">
                    <input id="password" name="password" type="password" minlength="5"
                        maxlength="15"  pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- register button -->
            <div class="">
                <button type="submit" >
                    Register</i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}