{% extends "base.html" %}
{% block content %}
<h3 class="title">Register</h3>

<div class="auth-card">
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <form class="" name="regForm" method="POST" action="{{ url_for('register') }}">
        <!-- username field -->
        <label for="username">Username</label>
        <input id="username" name="username" type="text" minlength="5" maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$" required>
        <!-- password field -->
        <label for="reg-password" class="form-label">Password <span id="exclIcon" class="exclamation"><i class="fas fa-exclamation-circle"></i></span>
        </label>
        <input id="reg-password" name="reg_password" type="password" minlength="5" maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$" required>

        <label for="confirm_password">Confirm Password <span id="exclIcon" class="exclamation"><i class="fas fa-exclamation-circle"></i></span></label>
        <input id="confirm_password" name="confirm_password" type="password" minlength="5" maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$" required>
        <button class="button" type="submit" id="regBtn" >
            Register
        </button>
    </form>
    
    <div class="under-form">
        <p>
            Already Registered? <a href="{{ url_for('login') }}" class="">Log In</a>
        </p>
    </div>
</div>

{% endblock %}